<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My portfolio</title>
    <link rel="icon" type="image/x-icon" href="/static/Homefavicon.ico" />
  </head>

  <body>
    <h1>Welcome to the home page</h1>
    <ul>
      <li>
        <a href="/laptop"> laptop price predictor</a>
      </li>
      <li>
        <a href="/style_transfer"> neural style transfer </a>
      </li>
    </ul>
  </body>
</html>
